<header class="app-header">

  <a href="/" class="logo-link">
    <img src="/images/logo.png" class="logo" alt="Whether Weather logo">
    <span class="app-title">Whether Weather</span>
  </a>

  <input type="checkbox" id="menu-toggle" class="menu-toggle">

  <label for="menu-toggle" class="menu-icon">⚙️</label>

  <nav class="menu">
  {% for item in collections.all | eleventyNavigation %}
    <a href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
</nav>


</header>
