---
layout: layouts/base.njk
title: Amsterdam
---



	<section class="section">
		<div class="container">

			<h1 class="title has-text-centered has-text-light">Amsterdam</h1>


			<!---today--->

			<div class="box has-text-centered">
				<h2 class="subtitle">Today</h2>
				<figure class="image is-64x64 is-inline-block">
					<img src="../../images/cloudy.png" alt="cloudy">
				</figure>
				<p>Max Temp: 16°C</p>
				<p>Max Wind: 28km/h</p>
			</div>


			<!---hour--->

		<div class="box has-text-centered">
			<h2 class="subtitle">Current Hour</h2>
			<p>Max Temp: 15°C</p>
				<p>Max Wind: 20km/h</p>
			</div>


			<!---week-->

			<h2 class="subtitle has-text-centered mt-5 has-text-dark">Weekly Forecast</h2>
			<div class="columns is-multiline is-mobile">


				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Mon</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/rainy-day.png" alt="rain">
							</figure>
							<p class="subtitle is-6">18°C</p>
						</div>
					</div>
				</div>

			


				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Tues</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/rainy-day.png" alt="rain">
							</figure>
							<p class="subtitle is-6">12°C</p>
						</div>
					</div>
				</div>

		

				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Wed</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/sun.png" alt="sun">
							</figure>
							<p class="subtitle is-6">19°C</p>
						</div>
					</div>
				</div>

				


				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Thur</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/heavy-rain.png" alt="rain">
							</figure>
							<p class="subtitle is-6">8°C</p>
						</div>
					</div>
				</div>

			

				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Fri</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/cloudy.png" alt="cloudy">
							<p class="subtitle is-6">14°C</p>
						</div>
					</div>
				</div>

			


				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Sat</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/rainy-day.png" alt="rain">
							</figure>
							<p class="subtitle is-6">12°C</p>
						</div>
					</div>
				</div>

			


				<div class="column is-one-seventh">
					<div class="card has-text-centered">
						<div class="card-content">
							<p class="title is-6">Sun</p>
							<figure class="image is-48x48 is-inline-block">
								<img src="../../images/sun.png" alt="Sunny">
							</figure>
							<p class="subtitle is-6">18°C</p>
						</div>
					</div>
				</div>

			</figure>
		</div>
	</div>
</div>
</div>
</div>
</section>
</body>
</html>

<footer class="footer has-text-centered">
  <p>Whether Weather</p>
</footer>