---
layout: base.njk
pagination:
  data: cities.cities
  size: 1
  alias: city
permalink: "/cities/{{ city.slug }}/index.html"
eleventyExcludeFromCollections: true
---

{% set colourMap = {
  "sun": "#4FC3F7",
  "cloudy": "#81cef0",
  "rainy-day": "#769ca8",
  "snow": "#a1adb3",
  "wind": "#3499c7",
  "heavy-rain": "#3b464a"
} %}

<section class="section">
  <div class="container">

    <h2 class="title has-text-centered has-text-light mb-6">
      {{ city.name }}, {{ city.country }}
    </h2>

    <!-- TODAY + CURRENT HOUR -->
    <div class="today-row">

      <div
        class="today-card"
        style="background-color: {{ colourMap[city.today.condition] }}"
      >
        <h3>Today</h3>
        <img
          src="/images/{{ city.today.condition }}.png"
          class="weather-icon"
        >
        <p class="big-temp">
          {{ city.today.maxTempC }}°C
        </p>
        <p class="small-text">
          Wind: {{ city.today.maxWindKmh }} km/h
        </p>
      </div>

      <div
        class="today-card"
        style="background-color: {{ colourMap[city.today.condition] }}"
      >
        <h3>Current Hour</h3>
        <img
          src="/images/{{ city.today.condition }}.png"
          class="weather-icon"
        >
        <p class="big-temp">
          {{ city.currentHour.tempC }}°C
        </p>
        <p class="small-text">
          Wind: {{ city.currentHour.windKmh }} km/h
        </p>
      </div>

    </div>

    <!-- WEEKLY FORECAST -->
    <h3 class="subtitle has-text-centered has-text-light mt-5">
      Weekly Forecast
    </h3>

    <div class="columns is-mobile is-multiline is-centered">
      {% for day in city.forecast %}
      <div class="column is-one-seventh">
        <div
          class="forecast-card"
          style="background-color: {{ colourMap[day.condition] }}"
        >
          <p class="title is-6">
            {{ day.day }}
          </p>

          <img
            src="/images/{{ day.condition }}.png"
            class="weather-icon"
          >

          <p class="subtitle is-6">
            {{ day.maxTempC }}°C
          </p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>
