body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 2rem 1rem 1rem;
}

.logo {
  width: 130px;
  margin-bottom: 0.5rem;
}

.title {
  color: #5b4b8a;
}

.subtitle {
  color: #8b7fbf;
}


.weather-icon {
  width: 56px;
  margin: 0.5rem auto;
}

.footer {
  background: #fff0f7;
  border-radius: 40px 40px 0 0;
  margin-top: 4rem;
}

a {
  color: inherit;
}