---
layout: layouts/base.njk
title: Weather Dashboard
---

<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      {% for city in weather.cities %}
      <div class="column is-one-third">
        <a href="/cities/{{ city.slug }}/">
          <div class="card has-text-centered">
            <div class="card-content">
              <p class="title is-4">{{ city.name }}</p>

              <img
                src="/images/{{ city.today.condition }}.png"
                alt="{{ city.today.condition }}"
                class="weather-icon"
              >

              <p class="subtitle">
                {{ city.today.maxTempC }}°C
              </p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
